body {
	background-color: cornsilk;
}
.header {
	width: 100%;
	height: 100px;
}
.header-list {
	list-style-type: none;
	width: 100%;
	padding: 0;
	background-color: rgb(231, 150, 44);
	position: absolute;
	margin: 0;
	display: block;
}
.header_img {
	height: 30px;
	width: 30px;
}
.hlist-item {
	margin: 0;
	padding: 30px;
	color: #ffffff;
	font-size: 14px;
	float: left;

	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
		Verdana, sans-serif;
}
.main {
	width: 64vw;
	padding: 80px;
	height: 100%;
	border-style: ridge;
	margin-top: 0;
	margin-left: 23.3%;
	position: absolute;
	margin-top: 98px;
}
.container2 {
	width: 1100px;
	height: 30vw;
	padding: 80px;
	border-style: ridge;
	border-width: 4px;
	margin: 0;
}
.img {
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 400px;
	width: 500px;
}

