.container {
	width: 30vw;
	padding: 80px;
	border-style: ridge;
	margin: 0;
}
.container2 {
	width: 1100px;
	height: 30vw;
	padding: 80px;
	border-style: ridge;
	border-width: 4px;
	margin: 0;
}
.img {
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
