.nav-list {
	list-style-type: none;
	position: absolute;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: burlywood;
	width: 23%;
	margin-top: 98px;
}
.list-item {
	margin: 0;
	padding: 30px;
	color: #ffffff;
	font-size: 19px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
		Verdana, sans-serif;
}
.nav-link {
	margin: 0 auto;
	color: #ffffff;
	text-decoration: wavy;
}
.list-item:hover {
	background-color: #d44d44;
	cursor: pointer;
}
.hlist-item:hover {
	background-color: #d44d44;
	cursor: pointer;
}
