.projects {
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.col-sm-6 {
	border-radius: 4px;
}
h2 {
	color: white;
	margin-left: 80px;
	margin-top: 30px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
		sans-serif;
	font-size: 2vw;
}

@media (max-width: 415px) {
	.col-sm-6 {
		position: relative;
	}
	.projects #links {
		margin-top: 60px;
		color: white;
		font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
			sans-serif;
		font-size: 10px;
	}
	.project_photo {
		border: rgb(212, 191, 191) solid;
		width: 90%;
		border-radius: 10px;
		margin: 80px;
		display: block;
		object-fit: cover;
		margin: 50px;
	}
	.project_photo1 {
		width: 90%;
		border-radius: 10px;
		margin: 80px;
		display: block;
		object-fit: cover;
		margin: 50px;
	}
	.overlay {
		font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
			sans-serif;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: 0.5s ease;
		background-color: #f37500;
	}
	.col-sm-6:hover .overlay {
		padding: 5px;
		opacity: 0.8;
	}
	.row texttitle1 {
		font-size: 16px;
	}
	.row text {
		color: white;
		font-size: 8px;
	}
	.row li {
		color: white;
		font-size: 11px;
	}
}
.projects #links {
	margin-top: 60px;
	color: white;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
		sans-serif;
	font-size: 1vw;
}
.col-sm-6 {
	position: relative;
	display: block;
}
.project_photo {
	border: rgb(212, 191, 191) solid;
	width: 86%;
	border-radius: 10px;
	margin: 30px;
	display: block;
	object-fit: cover;
}
.project_photo1 {
	width: 86%;
	border-radius: 10px;
	margin: 30px;
	display: block;
	object-fit: cover;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: #f37500;
}
.col-sm-6:hover .overlay {
	padding: 25px;
	opacity: 0.8;
}
.row texttitle {
	font-size: 2.4vw;
}
.row text {
	color: white;
	font-size: 1.3vw;
}
@media (max-width: 719px) {
	.projects {
		width: 100%;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: 0.5s ease;
		background-color: #f37500;
	}
}
